flow4.json
[
    {
        "id": "6811931e9af3d047",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a29cbc4e305e1b62",
        "type": "udp out",
        "z": "6811931e9af3d047",
        "d": true,
        "name": "",
        "addr": "192.168.0.77",
        "iface": "",
        "port": "5005",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 990,
        "y": 180,
        "wires": []
    },
    {
        "id": "8054969e4d8173bb",
        "type": "udp in",
        "z": "6811931e9af3d047",
        "d": true,
        "name": "",
        "iface": "",
        "port": "5005",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "f8f95a9d1b83b5b0"
            ]
        ]
    },
    {
        "id": "28bd8985537817f6",
        "type": "debug",
        "z": "6811931e9af3d047",
        "name": "received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "d5dc4da405068a85",
        "type": "function",
        "z": "6811931e9af3d047",
        "name": "generate data",
        "func": "let pin = context.get('pin') || 0;\nlet pwm = context.get('pwm') || 0;\nlet random = (min, max) => Math.floor(Math.random() * (max - min + 1)) + min;\nlet id = 'pwm' + pin;\n\nmsg.payload = { id: id, \"pin\": pin, \"pwm\": pwm };\n\ncontext.set('pin',random(0,1));\ncontext.set('pwm',((pwm + random(0,4)*4096)) % 65536);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "b8e18854c71180e1",
                "69d765ecd1c08353",
                "4e43d1cac7e8e69f",
                "9fa96376bef260d3",
                "34637cbb836af060"
            ]
        ]
    },
    {
        "id": "7b9278bbc05dadd4",
        "type": "inject",
        "z": "6811931e9af3d047",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "d5dc4da405068a85"
            ]
        ]
    },
    {
        "id": "f8f95a9d1b83b5b0",
        "type": "function",
        "z": "6811931e9af3d047",
        "name": "parse",
        "func": "// convert buffer to object...\nmsg.payload = JSON.parse(msg.payload.toString('utf-8').replace(/\\n/,''));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 120,
        "wires": [
            [
                "28bd8985537817f6"
            ]
        ]
    },
    {
        "id": "dbb1163a85a7f2a7",
        "type": "debug",
        "z": "6811931e9af3d047",
        "name": "sent",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 260,
        "wires": []
    },
    {
        "id": "b8e18854c71180e1",
        "type": "function",
        "z": "6811931e9af3d047",
        "name": "to JSON",
        "func": "msg.payload = JSON.stringify(msg.payload)+'\\n';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 260,
        "wires": [
            [
                "dbb1163a85a7f2a7"
            ]
        ]
    },
    {
        "id": "f854d139d40f7b52",
        "type": "debug",
        "z": "6811931e9af3d047",
        "name": "By UDP",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 340,
        "wires": []
    },
    {
        "id": "dc4ebba7dcfc10c5",
        "type": "cootie-broker",
        "z": "6811931e9af3d047",
        "connection": "b77077469e83c0f3",
        "ack": "",
        "agent": "",
        "ceid": "",
        "colorRef": "Default",
        "custom": "{}",
        "customType": "json",
        "field": "",
        "mode": "payload",
        "name": "Pico UDP",
        "out": "",
        "tag": "",
        "topic": "",
        "stat": "",
        "x": 940,
        "y": 340,
        "wires": [
            [
                "f854d139d40f7b52"
            ]
        ]
    },
    {
        "id": "69d765ecd1c08353",
        "type": "function",
        "z": "6811931e9af3d047",
        "name": "to Buffer",
        "func": "msg.payload = Buffer.from(JSON.stringify(msg.payload+'\\n'));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 180,
        "wires": [
            [
                "a29cbc4e305e1b62"
            ]
        ]
    },
    {
        "id": "4e43d1cac7e8e69f",
        "type": "debug",
        "z": "6811931e9af3d047",
        "name": "raw",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "9c23b8e7371dae2a",
        "type": "cootie-broker",
        "z": "6811931e9af3d047",
        "connection": "864229f894c4e0e2",
        "ack": "",
        "agent": "",
        "ceid": "",
        "colorRef": "Client/Server",
        "custom": "{}",
        "customType": "json",
        "field": "",
        "mode": "payload",
        "name": "Pico HTTP",
        "out": "",
        "tag": "",
        "topic": "",
        "stat": "",
        "x": 950,
        "y": 420,
        "wires": [
            [
                "477f1d2dc1152e64"
            ]
        ]
    },
    {
        "id": "477f1d2dc1152e64",
        "type": "debug",
        "z": "6811931e9af3d047",
        "name": "By HTTP Get",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 420,
        "wires": []
    },
    {
        "id": "9fa96376bef260d3",
        "type": "change",
        "z": "6811931e9af3d047",
        "name": "UDP",
        "rules": [
            {
                "t": "set",
                "p": "payload.id",
                "pt": "msg",
                "to": "udp",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 340,
        "wires": [
            [
                "dc4ebba7dcfc10c5"
            ]
        ]
    },
    {
        "id": "58fbc6e0dd1f90e1",
        "type": "change",
        "z": "6811931e9af3d047",
        "name": "GET",
        "rules": [
            {
                "t": "set",
                "p": "payload.id",
                "pt": "msg",
                "to": "get",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 420,
        "wires": [
            [
                "9c23b8e7371dae2a"
            ]
        ]
    },
    {
        "id": "a5c021171bd8e408",
        "type": "change",
        "z": "6811931e9af3d047",
        "name": "POST",
        "rules": [
            {
                "t": "set",
                "p": "payload.id",
                "pt": "msg",
                "to": "post",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 500,
        "wires": [
            [
                "0f8b366f60fc339c"
            ]
        ]
    },
    {
        "id": "7138ec926ff6454c",
        "type": "debug",
        "z": "6811931e9af3d047",
        "name": "By HTTP Post",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 500,
        "wires": []
    },
    {
        "id": "0f8b366f60fc339c",
        "type": "cootie-broker",
        "z": "6811931e9af3d047",
        "connection": "75de0675bc29ea7c",
        "ack": "",
        "agent": "",
        "ceid": "",
        "colorRef": "Client/Server",
        "custom": "{}",
        "customType": "json",
        "field": "",
        "mode": "payload",
        "name": "Pico HTTP",
        "out": "",
        "tag": "",
        "topic": "",
        "stat": "",
        "x": 950,
        "y": 500,
        "wires": [
            [
                "7138ec926ff6454c"
            ]
        ]
    },
    {
        "id": "34637cbb836af060",
        "type": "delay",
        "z": "6811931e9af3d047",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 560,
        "y": 420,
        "wires": [
            [
                "58fbc6e0dd1f90e1",
                "2b960a7db0858652"
            ]
        ]
    },
    {
        "id": "2b960a7db0858652",
        "type": "delay",
        "z": "6811931e9af3d047",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 560,
        "y": 500,
        "wires": [
            [
                "a5c021171bd8e408"
            ]
        ]
    },
    {
        "id": "b77077469e83c0f3",
        "type": "cootie-connection-config",
        "transport": "udp",
        "config": {
            "hostname": "Pico",
            "host": "192.168.0.77",
            "port": "5005",
            "url": "/test",
            "method": "get",
            "max": "10",
            "debug": "on",
            "label": "Pico"
        },
        "debug": true
    },
    {
        "id": "864229f894c4e0e2",
        "type": "cootie-connection-config",
        "transport": "http",
        "config": {
            "hostname": "PicoWeb",
            "host": "127.0.0.1",
            "port": "8000",
            "url": "/get",
            "method": "get",
            "max": "10",
            "debug": "on",
            "label": "PicoWeb"
        },
        "debug": true
    },
    {
        "id": "75de0675bc29ea7c",
        "type": "cootie-connection-config",
        "transport": "http",
        "config": {
            "hostname": "PicoWeb2",
            "host": "127.0.0.1",
            "port": "8000",
            "url": "/post",
            "method": "post",
            "max": "10",
            "debug": "on",
            "label": "PicoWeb2"
        },
        "debug": true
    }
]